<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./css/general.css">
        <title>Malaysian Club of Chicago - About Malaysia</title>
    </head>
    <body>
        {{>navbar}}
        <div id="right">
            <div class="vert-block">
                <img src="./img/malaysia.jpg">
                <div style="font-size: 19px; line-height: 1.3em; max-width: 90%" class="text">
                    <p><strong>Strategically positioned in the heart of Southeast Asia, Malaysia is an example of a successful multi-ethnic and multi-religious polity.</strong></p>
                    <p>The Federation of Malaya became an independent country on 31 August 1957. On 16 September 1963 the federation was enlarged by the accession of the states of Singapore, Sabah (formerly British North Borneo) and Sarawak. The name ‘Malaysia’ was adopted from that date. However, Singapore left the federation on 9 August 1965.</p>
                    <p>Malaysia is a parliamentary democracy. It is a Federation of 13 states and 3 federal territories with a constitutional monarch, His Majesty the Yang di-Pertuan Agong as the Supreme Head of the country. Executive Authority is also vested in the Yang di-Pertuan Agong and exercised by a Cabinet of Ministers headed by the Prime Minister. The Federal Constitution clearly demarcates the separation of powers among the country’s Legislative, Judicial and Executive Authorities.</p>
                    <p>Malaysia has enjoyed a climate of political stability which has brought with it a high level of economic growth based on diversification of the economy, especially through industrialisation and stimulated by foreign investment. Malaysia’s foreign policy is essentially premised on both the internal and external political, security and socio-economic environments. The country’s international approach is guided by the basic objective of seeking friendship for purposes of securing mutually beneficial relations. A peaceful and stable political security environment in the region is essential to the progress and prosperity of the country.</p>
                    <p>Malaysia remains firmly committed to intensifying regional cooperation, primarily by building upon existing ASEAN cooperation as well as enhancing cooperation with extra-regional countries, including between ASEAN and its Dialogue Partners. In this context, Malaysia has taken and continues to take a proactive role in three main foreign policy areas: cementing bilateral relations, fostering regional cooperation and active participation in various multilateral events. In the latter area, Malaysia`s contributions lie in South-South Cooperation, the Organisation of Islamic Conference, North-South relations, United Nations, the United Nations Security Council, the Non-Aligned Movement and the Commonwealth Group of Countries.</p>
                </div>
            </div>
            {{>footer}}
        </div>
    </body>
</html>