<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./css/general.css">
        <title>Malaysian Club of Chicago - Outstanding Achievements</title>
    </head>
    <body>
        {{>navbar}}
        <div id="right">
            <div style="min-height: 200px;" class="vert-block">
                <div style="padding: 30px 0; font-size: 19px; line-height: 1.3em; max-width: 80%" class="text">
                    <h1 style="line-height: 1.2em; margin-top: 0.5em; margin-bottom: 0.8em;">Outstanding Achievements</h1>
                    <img style="width: 80%; margin: 1em 0;" src="./img/rope.png">
                    <p>Congratulations to Belinda Ng, recipient of the 2019 Community Service Award from the Asian American Coalition of Chicago during the 36th Annual Lunar New Year Celebration.</p>
                    <img style="width: 80%; margin: 1em 0;" src="./img/rope.png">
                    <p>Congratulations to Matthew Lee, recipient of the 2019 Youth Who Excel Award from the Asian American Coalition of Chicago during the 36th Annual Lunar New Year Celebration.</p>
                    <img style="width: 80%; margin: 1em 0;" src="./img/rope.png">
                </div>
            </div>
            <div style="display: block; height: 20vh;"></div>
            {{>footer}}
        </div>
    </body>
</html>