<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./css/general.css">
        <title>Malaysian Club of Chicago - Board Members</title>
    </head>
    <body>
        {{>navbar}}
        <div id="right">
            <div style="min-height: 120px;" class="vert-block">
                <div style="padding: 30px 0; font-size: 19px; line-height: 1.3em; max-width: 70%" class="text">
                    <h1 style="line-height: 1.2em; margin-top: 0.5em; margin-bottom: 0.5em;">Board Members 2017-2018</h1>
                    <p><strong>President:</strong><br>Azelena Williams</p>
                    <p><strong>Vice President:</strong><br>Sue Christensen</p>
                    <p><strong>Secretary:</strong><br>Sonia Yeow</p>
                    <p><strong>Treasurer:</strong><br>Catherine Wang</p>
                    <p><strong>Honorary Advisor:</strong><br>Tan Sri Roger Bertelson</p>
                    <p><strong>Lifetime Advisors:</strong><br>Dr. Kim K. Tee, Hamidi Harun, Yin Kean, Datuk Stanley Thai, Sue Christensen</p>
                    <p><strong>Active Committee Members:</strong><br>Cliff Chew, Sue Christensen, Kok Far Chin, Yin Kean, Gladys Lee, Keat Lee, Amy Looi Lee, Belinda Ng, Kim Tee, Lawrence Vandre, Catherine Wang, Azelena Williams, Sonia Yeow</p>
                </div>
            </div>
            <div style="display: block; height: 6vh;"></div>
            {{>footer}}
        </div>
    </body>
</html>