<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./css/general.css">
        <title>Malaysian Club of Chicago - Malaysian Embassy</title>
    </head>
    <body>
        {{>navbar}}
        <div id="right">
            <div style="min-height: 200px; margin-bottom: 40px;" class="vert-block">
                <img style="margin-top: 2.5rem; width: 40%;" src="./img/embassy.jpg">
                <div style="padding: 30px 0; font-size: 19px; line-height: 1.3em; max-width: 90%" class="text">
                    <h1 style="line-height: 1.2em; margin-top: 0.5em; margin-bottom: 0.8em;">Malaysian Embassy</h1>
                    <h3>His Excellency Tan Sri Zulhasnan Rafique<br>Ambassador Extraordinary and Plenipotentiary</h3>
                    <p>(Ambassador-Designate of Malaysia to the United States.)</p><br>
                    <h3>Embassy of Malaysia,<br>3516 International Court NW,<br>Washington, DC 20008,<br>U.S.A.</h3><br>
                    <strong>Phone: </strong>(202) 572-9700<br>
                    <strong>Fax: </strong>(202) 572-9882<br><br>
                    <strong>Office Hours:</strong><br>
                    Monday-Friday (0900 – 1700 hours)<br>
                    Consular Section (0900 – 1300 hours)
                    <div style="margin: 1.5em 2em; padding: 1em; border: 2px solid black;">
                        <h2 style="margin-bottom: 0.5em;">Client Charter:</h2>
                        · To uphold Malaysia’s sovereignty in the United States of America;<br>
                        · To foster friendly relations with the people, agencies, private sector and the Government of the United States of America;<br>
                        · To strengthen and safeguard Malaysia’s interests through participation in the international conferences, meetings, seminars, etc. held in the United States of America;<br>
                        · To ensure and safeguard the welfare and interests of Malaysians in the United States of America;<br>
                        · To provide excellent and efficient services to the clients of the Embassy of Malaysia.
                    </div>
                </div>
            </div>
            {{>footer}}
        </div>
    </body>
</html>