<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./css/general.css">
        <link rel="stylesheet" href="./css/home.css">
        <title>Malaysian Club of Chicago - Home</title>
    </head>
    <body>
        {{>navbar}}
        <div id="right">
            <div id="group">
                <div id="overlay">
                    <h1>Malaysian Club of Chicago</h1>
                    <h2>Taste of Malaysia: Celebrating MCC 20th Anniversary & Malaysia Day</h2>
                </div>
            </div>
            <div id="half-point">
                <div style="max-width: 65%" class="text">
                    <h3>Jom makan!</h3>
                    <p>Taste of Malaysia 2019 will feature multiple booths to showcase a variety of Malaysian cuisine. Attendees will purchase tickets to buy different dishes. We will have Nasi Lemak, Char Koay Teow, Asam Laksa, Roti Canai, Chicken Curry, Satay, Mee Hoon, Kuih Lapis, Kuih Jagong, Bubur Kacang, Chendol, Durian (if in season) and more!</p>
                    <p class="annotate">Food items are always subject to change.</p>
                </div>
                <div id="image-part"></div>
            </div>
            <div id="static">
                <div class="vert-block">
                    <img src="./img/ex-1.jpg">
                    <div class="text">
                        <h3>Jom makan!</h3>
                        <p>Taste of Malaysia 2019 will feature multiple booths to showcase a variety of Malaysian cuisine. Attendees will purchase tickets to buy different dishes. We will have Nasi Lemak, Char Koay Teow, Asam Laksa, Roti Canai, Chicken Curry, Satay, Mee Hoon, Kuih Lapis, Kuih Jagong, Bubur Kacang, Chendol, Durian (if in season) and more!</p>
                        <p class="annotate">Food items are always subject to change.</p>
                    </div>
                </div>
            </div>
            <div class="spacer"></div>
            <div class="hor-block left-img">
                <img src="./img/ex-2.jpg">
                <div class="wide-text text">
                    <p><strong>Date:</strong><br>September 14, 2019 (Saturday)</p>
                    <p><strong>Time:</strong><br>12pm - 3pm</p>
                    <p><strong>Location:</strong><br>Ned Brown Preserve (Busse Woods), Grove #26, Elk Grove Village IL 60007</p>
                </div>
            </div>
            <div style="margin: 50px auto; min-height: 410px;" class="hor-block right-img">
                <img src="./img/ex-3.png">
                <div class="wide-text text">
                    <p><strong>Early-Bird Ticket:</strong><br>$15 for 20 tickets</p>
                    <p><strong>Walk-In Ticket:</strong><br>$20 for 20 tickets</p>
                    <p><strong>Payment Method:</strong><br>Pay via <a href="https://gmail.us3.list-manage.com/track/click?u=5afb594b0c18e91a2c46aa417&id=f909496d32&e=fe69c20bcf">Eventbrite</a>.</p>
                    <p class="annotate">Tickets are transferable<br>but not refundable.</p>
                    <button onclick="window.open('https://www.eventbrite.com/e/mcc-taste-of-malaysia-tickets-66357987527')">Purchase Early-Bird Tickets</button>
                </div>
            </div>
            {{>footer}}
        </div>
    </body>
</html>