<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./css/general.css">
        <title>Malaysian Club of Chicago - Job Openings</title>
    </head>
    <body>
        {{>navbar}}
        <div id="right">
            <div style="min-height: 100px;" class="vert-block">
                <div style="font-size: 19px; line-height: 1.3em; max-width: 90%" class="text">
                    <h1 style="line-height: 1.2em; margin-top: 0.4em; margin-bottom: 0.4em;">Job Openings</h1>
                </div>
            </div>
            <div style="padding-left: 2em; padding-right: 2em;" class="vert-block">
                <img style="width: 60%; margin: 2em 1em 1em 1em;" src="https://daks2k3a4ib2z.cloudfront.net/571ab30f75e0008b09aeffc2/584b1b4c422775af772ec64f_imgres-4.png">
                <div class="text">
                    <h3>Chinese American Service League</h3>
                    <p>CASL is the largest, most comprehensive social service agency in the Midwest dedicated to serving the needs of
                        Chinese Americans. For 40 years, we have welcomed all who walk through our doors regardless of backgrounds,
                        lifestyles, and needs:
                        <br>• Providing an educational and cultural foundation for our children
                        <br>• Ensuring our seniors live full and independent lives with dignity
                        <br>• Enhancing education and training for tomorrow’s workforce
                        <br>• Strengthening families while honoring cultural heritage
                        <br>• Securing our community’s housing and financial well-being<br>
                        With more than 500 multilingual and multicultural professional and support staff — complemented by a team of
                        over 250 dedicated volunteers — we offer our clients vital physical, economic, mental, and social support. Our
                        $13+ million budget — which includes generous contributions from individuals, foundations, and corporate
                        donors — supports programming that primarily serves immigrants who often lack formal education, possess few
                        transferable job skills, and know little of the new world around them. Since many of these individuals do not
                        speak English and sometimes have no family or friends in the area, CASL becomes their instant family, friend,
                        and teacher. With our support, CASL clients become thriving residents of the greater Chicago community,
                        making valuable contributions as independent, productive members of society. In the words of one of those
                        clients, “We had nothing but our dreams. The Chinese American Service League helped us realize them.”</p>
                    <a style="font-size: 19px;" href="https://irp-cdn.multiscreensite.com/68155979/files/uploaded/Current%20Openings%20Summary_rKOCLSSR0CRTJWZQHtLW.pdf">Available Positions</a>
                    <p class="annotate">2141 South Tan Court | Chicago, IL 60616 | (312) 791-0418 | CASLservice.org</p>
                </div>
            </div>
            {{>footer}}
        </div>
    </body>
</html>