<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./css/general.css">
        <title>Malaysian Club of Chicago - Local Information</title>
    </head>
    <body>
        {{>navbar}}
        <div id="right">
            <div style="min-height: 200px;" class="vert-block">
                <div style="padding: 30px 0; font-size: 19px; line-height: 1.3em; max-width: 90%" class="text">
                    <h1 style="line-height: 1.2em; margin-top: 0.5em; margin-bottom: 0.8em;">Asian Restaurants</h1>
                    <p>This is just a sampling of Asian restaurants. If you have a good recommendation of other Asian restaurants, please send me an <a href="mailto:web@malaysianclubchicago.com">email</a>, plus a short comment. Thanks!</p>
                </div>
            </div>
            <div class="hor-block left-img">
                <img src="https://b.zmtcdn.com/data/pictures/3/16745053/a864d89fea27a0bb375f77020f6d9e9c_featured_v2.jpg">
                <div class="text">
                    <h3>Asian Noodle House | (847) 882-9650</h3>
                    <p>Typical Malaysian dishes like nasi lemak, Laksa, Hainese Chicken rice, Chow Kuey Tay, Bah Kut Teh, Chendoll, etc. This place is like your typical "Kopi shop" setup. Typical price ranges from $5.00 to about $8.00.</p>
                    <p class="annotate">844 N Roselle Rd<br>Hoffman Estates, IL 60195</p>
                </div>
            </div>
            <div style="display: block; height: 15vh;"></div>
            {{>footer}}
        </div>
    </body>
</html>