<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./css/general.css">
        <title>Malaysian Club of Chicago - MIDA</title>
    </head>
    <body>
        {{>navbar}}
        <div id="right">
            <img style="width: 100%;" src="./img/mida.jpg">
            <div style="min-height: 200px;" class="vert-block">
                <div style="padding: 30px 0; font-size: 19px; line-height: 1.3em; max-width: 90%" class="text">
                    <p>The Malaysian Industrial Development Authority (MIDA) is the government’s principal agency for the promotion and coordination of industrial development in Malaysia. 
                        MIDA assists companies which intend to invest in the manufacturing and its related services sectors as well as facilitates the implementation and operation of their projects. 
                        The wide range of services provided by MIDA includes providing information on the opportunities for investment and facilitating companies which are looking for 
                        <a target="_blank" href="http://matriix.mida.gov.my/MIIS/userLogin.do">joint venture partners</a>.</p>
                    <p>To further enhance MIDA’s role in assisting investors, senior representatives from key government agencies are stationed at <a target="_blank" href="http://www.mida.gov.my/beta/view.php?cat=8&scat=472">MIDA's headquarters</a> in Kuala Lumpur to advise investors on government policies and procedures. 
                        These representatives include officials from the Ministry of Finance, Ministry of Human Resources, Immigration Department, Royal Malaysian Customs, Department of Environment, Department of Occupational Safety and Health, 
                        Tenaga Nasional Berhad and Telekom Malaysia Berhad.</p>
                    <p>MIDA also evaluates the following applications for projects in the manufacturing and its related services sectors:<br>
                        • <a style="font-size: 18px" href="http://www.mida.gov.my/beta/view.php?cat=3&scat=5&pg=116">Manufacturing Licenses</a>,<br>
                        • <a style="font-size: 18px" href="http://www.mida.gov.my/beta/view.php?cat=3&scat=6&pg=976">Tax Incentives</a>,<br>
                        • <a style="font-size: 18px" href="http://www.mida.gov.my/beta/view.php?cat=3&scat=28&pg=182">Expatriate posts</a>,<br>
                        • <a style="font-size: 18px" href="http://www.mida.gov.my/beta/view.php?cat=3&scat=6&pg=977">Duty exemptions on raw materials, components, machinery, and equipment</a></p>
                </div>
            </div>
            <div class="hor-block left-img">
                <img src="https://assets.nst.com.my/images/articles/mida14a_1502691371.jpg">
                <div class="text">
                    <h3>Director: Faizal Jalaludin</h3>
                    <p>John Hancock Center<br>
                        875, North Michigan Avenue, Suite 1515<br>
                        Chicago, Illinois 60611<br>
                        United States of America</p>
                    <p style="font-size: 17px;" class="annotate">Tel: (1312) 787 4532<br>
                        Fax: (1312) 787 4769<br>
                        E-mail: mida@midachicago.org</p>
                </div>
            </div>
            {{>footer}}
        </div>
    </body>
</html>