<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./css/general.css">
        <title>Malaysian Club of Chicago - Newspapers</title>
    </head>
    <body>
        {{>navbar}}
        <div id="right">
            <div class="vert-block">
                <div style="padding: 30px 20px; text-align: left; font-size: 19px; line-height: 1.3em; max-width: 90%" class="text">
                    <h1 style="line-height: 1.2em; text-align: center !important; margin-top: 0.5em; margin-bottom: 1em;">Malaysian Newspapers</h1>
                    <p><a style="font-size: 20px" target="_blank" href="https://www.aliran.com/">Aliran</a>: News site of Malaysian reform movement offering quality news analysis.</p>
                    <p><a style="font-size: 20px" target="_blank" href="https://www.bernama.com/">Bernama</a>: Malaysian official news agency.</p>
                    <p><a style="font-size: 20px" target="_blank" href="https://www.theedgedaily.com/">The Edge Daily</a>: Provides real-time financial news and articles from The Edge, the weekly newspaper for business and investment.</p>
                    <p><a style="font-size: 20px" target="_blank" href="https://www.klue.com.my/">KLue</a>: Kuala Lumpur lifestyle magazine.</p>
                    <p><a style="font-size: 20px" target="_blank" href="https://www.malaysiakini.com/">MalaysiaKini</a>: Daily news website featuring independent reporting, in-depth analysis and investigative journalism.</p>
                    <p><a style="font-size: 20px" target="_blank" href="https://www.newsabahtimes.com.my/">New Sabah Times</a>: Local newspaper from North Borneo.</p>
                    <p><a style="font-size: 20px" target="_blank" href="https://www.nst.com.my/">New Straits Times</a>: Pro-government major national newspaper.</p>
                    <p><a style="font-size: 20px" target="_blank" href="https://www.emedia.com.my/">NSTP e-Media</a>: News portal serving as gateway to many Malaysian newspapers and magazines.</p>
                    <p><a style="font-size: 20px" target="_blank" href="https://www.rengah.c2o.org/">Rengah Sarawak</a>: Provides alternative news of what is happening in Sarawak, one of the two East Malaysian States in the northern part of the island of Borneo.</p>
                    <p><a style="font-size: 20px" target="_blank" href="https://www.sarawaktribune.com.my/">Sarawak Tribune</a>: Daily newspaper from Borneo.</p>
                    <p><a style="font-size: 20px" target="_blank" href="https://thestar.com.my/">The Star</a>: Major national daily.</p>
                    <p><a style="font-size: 20px" target="_blank" href="https://www.sun2surf.com/">Sun2Surf</a>: Web companion to The Sun and Financial Daily newspapers.</p>
                    <p><a style="font-size: 20px" target="_blank" href="https://www.utusan.com.my/">Utusan Express</a>: Provides regional and international news.</p>
                </div>
            </div>
            {{>footer}}
        </div>
    </body>
</html>