<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./css/general.css">
        <title>Malaysian Club of Chicago - Our Objectives</title>
    </head>
    <body>
        {{>navbar}}
        <div id="right">
            <div class="vert-block">
                <img style="filter: brightness(90%);" src="./img/malaysia2.jpg">
                <div style="font-size: 19px; line-height: 1.3em; max-width: 90%" class="text">
                    <h4>Malaysian Club of Chicago (MCC) is a not-for-profit organization formed on October 18th, 1999. It is registered in the State of Illinois. The objectives of the formation of MCC are...</h4>
                    <p style="font-size: 19px";>To be a civic and social organization.</p>
                    <p style="font-size: 19px";>To promote the personal and professional development of the Malaysian American community.</p>
                    <p style="font-size: 19px";>To sponsor and support activities that enhance the cultural awareness and perception of Malaysian Americans.</p>
                    <p style="font-size: 19px";>To enhance the business and career environment for Malaysian Americans.</p>
                </div>
            </div>
            {{>footer}}
        </div>
    </body>
</html>