<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./css/general.css">
        <link rel="stylesheet" href="./css/events.css">
        <title>Malaysian Club of Chicago - Past Events</title>
    </head>
    <body>
        {{>navbar}}
        <div id="right">
            <img class="preview" style="margin-top: 3em;" src="./img/kim-and-pm.jpg">
            <div style="min-height: 420px;" class="hor-block left-img">
                <img style="object-position: -80px center;" src="./img/kim-and-pm.jpg">
                <div class="text">
                    <h3>MCC's President and the Prime Minister</h3>
                    <p><a href="./other/pm.rm">Click here</a> to view the video. You must have <a href="http://www.real.com/realoneplayer.html?pp=home&src=021010realhome_1">Real Player</a> installed (Free Download).</p>
                    <p><a onclick="$('#overlay-text').text('On September 3, 2000 the Malaysian Club of Chicago celebrated their 43rd Merdeka 2000 with a reception and dinner at the Westin Hotel in downtown Chicago. The guest of honor for the evening was YAB Dato\' Seri Dr. Mahathir bin Mohamad-the Prime Minister of Malaysia.'); $('#overall').fadeIn(300)" href="#">Description: Celebrating Merderka 2020</a><br>
                    <a onclick="$('#overlay-text').html('Ketibaan YAB Dato\' Seri Dr Mahathir dan Isteri disambut oleh MCC di lapangan terbang O\'Hare, Chicago. <img src=\'./img/pm1.jpg\'><img src=\'./img/pm2.jpg\'><img src=\'./img/pm3.jpg\'>'); $('#overall').show()" href="#">Gallery (3 Photos): Prime Minister's Arrival</a></p>
                </div>
            </div>
            <img class="preview" src="./img/kompang.jpg">
            <div class="hor-block right-img">
                <img src="./img/kompang.jpg">
                <div class="text">
                    <h3>Moon Festival</h3>
                    <p><a onclick="$('#overlay-text').text('On September 24, 2000 the Malaysian Club of Chicago co-sponsored the Moon Festival 2000 in Chinatown Square Center Stage. Seven members of the Malaysian Club of Chicago participated in a Kompang performance. Mr. Hamidi Harun, special events director for MCC, gave a brief explanation of the history of Kompang.'); $('#overall').show()" href="#">Description: Moon Festival</a><br>
                    <a onclick="$('#overlay-text').html('<img src=\'./img/kompang.jpg\'>'); $('#overall').show()" href="#">Image: MCC's Kompang and Lion Dance Group</a></p>
                </div>
            </div>
            <img class="preview" src="./img/farewell.jpg">
            <div class="hor-block left-img">
                <img src="./img/farewell.jpg">
                <div class="text">
                    <h3>Lee Foo Sang Farewell Dinner</h3>
                    <p><a onclick="$('#overlay-text').text('On October 28, 2000 MCC hosted a farewell dinner in honor of Mr. and Mrs. Foo Sang Lee. Mr. Foo Sang Lee was one of the founding directors of MCC and was the 1st Vice-President of MCC. Mrs. Siew Kiew Lee was special event director for MCC. The evening was a toast to Mr. and Mrs. Lee\'s hardwork and dedication to MCC for the past year. Approximately 150 people attended the dinner at The New Three Happiness restaurant. Double click photo gallery to view pictures of this event. On January 13, 2001 MCC will celebrate Hari Raya and Chinese New Year at the Chinese Cultural Center in Westmont, IL . The event will begin at 5:00 PM . Complete details to follow.'); $('#overall').show()" href="#">Description: Lee Foo Sang Farewell Dinner</a></p>
                </div>
            </div>
            <img class="preview" src="./img/cny.jpg">
            <div class="hor-block right-img">
                <img src="./img/cny.jpg">
                <div class="text">
                    <h3>2001 Hari Raya Aidilfitri and Chinese New Year</h3>
                    <p><a onclick="$('#overlay-text').html('Our members\' friendly smiles!<br><img src=\'./img/ph1.jpg\'><br>Celine: Our young violinist, and very talented too!<br><img src=\'./img/ph2.jpg\'><br>Line up please! Makan, makan, makan!<br><img src=\'./img/ph3.jpg\'><br>Happy campers!<br><img src=\'./img/ph4.jpg\'><br>Berborak, bersembang!<br><img src=\'./img/ph5.jpg\'><br>Too cool to be true!<br><img src=\'./img/ph11.jpg\'><br>The kids were making balloon animals; Eric was busy pumping the balloons.<br><img src=\'./img/ph10.jpg\'><br>Say cheese!<br><img src=\'./img/ph9.jpg\'><br>There is nothing like Malaysian dishes and dessert!<br><img src=\'./img/ph6.jpg\'><br>Hey! Ambak sikit sikit! <img src=\'./img/ph7.jpg\'><br>Bergema meraikan majlis... kanak kanak bermain kompang.<br><img src=\'./img/ph8.jpg\'>'); $('#overall').show()" href="#">Gallery (11 Photos): New Year</a></p>
                </div>
            </div>
            <div class="vert-block">
                <div class="text">
                    <h2>Other Events</h2>
                    <p>2001 Spring Gathering<br>2001 Kompang performance during Asian American Heritage month<br>2001 Merdeka Celebration at Sakuma Restaurant (August 25th)<br>2001 Asian American Heritage month 2002 MCC participated in Parade<br>2002 New Year Celebration, Jockey Restaurant<br>2002 Cruise & Fireworks<br>2002 Merdeka Celebration (and new committee election), Jockey Restaurant<br>2003 New Year Celebration, Sabri Nihari restaurant, Lombard<br>2003 Cruise & Fireworks<br>2003 Merdeka Celebration, Lord's Park, Elgin<br>2004 New Year Celebration, Furama Restaurant (January 10th)<br>2004 Cruise & Fireworks, Chicago First Lady (July 4th)<br>2004 Merdeka Celebration, Camera Park (election) (September 5th)<br>2005 Tsunami Fund Raising for Red Cross (January)<br>2005 New Year Celebration,  joint event with SCC, Furama Restaurant (January 22nd)<br>2005 Merdeka Celebration, Blackberry Farm's Pioneer Village (August 27th)<br>2006 Malaysian Night, Mandarin Restaurant, Lisle (March 4th)<br>2006 Merdeka Picnic, Busse Wood Park, Schaumburg (August 27)<br>2007 Annual Dinner, Furama Restaurant (March 10th)<br>2007 Merdeka Celebration, Busse Wood Park, Schaumburg (August 26th)<br> 2007 Flag Raising, Richard M. Daley Plaza, Chicago (September 12th)<br>2008 Annual Dinner, Furama Restaurant (April 12th)<br>2009 Merdeka Picnic, Volkening Lake, Schaumburg (August 13th)<br>2010 Makan Ria, Shahi Nihari, Lombard (June 6th)</p>
                </div>
            </div>
            <div id="overall">
                <div id="dim"></div>
                <div id="overlay">
                    <p id="overlay-text"></p>
                    <button id="close-overall" onclick="$('#overall').fadeOut(300);">Close</button>
                </div>
            </div>
            {{>footer}}
        </div>
    </body>
</html>