<style>
    #footer {
        display: block;
        position: relative;
        background:rgb(53, 53, 36);
        height: 9vh;
        width: 100%;
    }
    #footer p {
        font-size: 1.2rem;
        position: absolute;
        color: white;
        top: 50%;
        right: 2%;
        transform: translateY(-50%);
    }
</style>
<div id="footer">
    <p>Malaysian Club of Chicago | © 2020</p>
</div>